.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    position: relative;
    border-radius: 5px;
    align-self: center;
}

.dropdown .options {
    position: relative;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown .options.visible {
    opacity: 1;
    visibility: visible;
}