.progressbar{
    background-color: #c4b5b5;
    width: 100%;
    height: 20px;
    border-radius: 16px;
    padding: 5px;
    box-sizing: border-box;
}

.progressbar-wrap{
    width: 100%;
}

.progressbar-wrap span{
    display: block;
    text-align: right;
    font-size: 16px;
    margin-bottom: 4px;
}

.progressbar-progress1{
    background-color: #a10f0f;
    height: 100%;
    border-radius: 16px;
    transition: width 400ms ease-in-out;

}

.progressbar-progress2{
    background-color: #180d7a;
    height: 100%;
    border-radius: 16px;
    transition: width 400ms ease-in-out;

}

.progressbar-progress3{
    background-color: #0c6b18;
    height: 100%;
    border-radius: 16px;
    transition: width 400ms ease-in-out;

}

.progressbar-progress4{
    background-color: #cf9619;
    height: 100%;
    border-radius: 16px;
    transition: width 400ms ease-in-out;

}
