.card-container-workout{
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-container-workout-column{
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.card-container-workout-row{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;

    min-width: 0;
}

.card-log-workout-card {
    flex: 1;
    min-width: 0;
    height: 100%;
}

.card-goal-progress-card {
    flex: 1.5;
    min-width: 0;
    height: 100%;
}

/*Taken from Kammandeeps nutrition code needs to be refactored and made into a re-usable component*/
.date-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #5f5555;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
 
.nav-arrow {
    background-color: #5f5555;
    border: 1px solid #6a6a60;
    color: #e9e9d2;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}
 
.nav-arrow:hover {
    background-color: #6a6a60;
    border-color: #e9e9d2;
}
 
.date-display {
    color: #e9e9d2;
    font-weight: bold;
    font-size: 1.1rem;
    min-width: 180px;
    text-align: center;
}