.card-container-workout{
    
    height: fit-content;
    margin: 20px 85px;
}

.card-container-workout-column{
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.card-container-workout-row{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: fit-content;

}