.card-icon {
    background-color: #5f5555;
    border-radius: 8px;
    overflow: hidden;
    width: flex;
    margin: 16px;
}

.card-icon-image-container {
    height: 180px;
    overflow: hidden;

}

.card-icon-image {
    height: flex;
    width: flex;
    object-fit: cover;
}

.card-icon-content {
    padding: 5px;
    align-items: center;
}

.card-icon-title {
    margin: 0 0 4px 0;
    font-size: 1rem;
    color: #ffffff;
}

.card-icon-description {
    margin: 0;
    font-size: 0.5rem;
    color: #ffffff;
    line-height: 1.5;
}

.card-small {
    width: 150px;
    height: 150px;
}

.card-med {
    width: 150px;
    height: 150px;    
}

.card-large {
    width: 150px;
    height: 150px;
}



/* Title Card CSS specifically for the second navigation bar */

.card-icon-title {
    background-color: #5f5555;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin: 1px;
    padding: 0 3px;
}
.card-slim {
    width: 150px;
    height: fit-content;
    align-items: center;
}