/* Navigation bar settings for the secondary navigation bar */
.second-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d6969;
    color: #e9e9d2;
    width: fit-content;
    border-radius: 12px;
    margin: 10px auto;
    padding: 6px 12px;
}

.second-navbar-center{
    display: flex;
    align-items: center;
}

.second-navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 8rem;
    align-items: center;

}

.nav-links a {
    text-decoration: none;
    color: white;
}