body{
    background-color:  #b6b6b6;
    color: white;
    margin: 0;
    font-family: sans-serif;

}

.card-container-home{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    justify-content: center;
    width: 90%;
}

.card-container-home-largergap{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20rem;
    justify-content: center;
    width: 90%;
}

.card-container-home-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}
