body{
    background-color:  #b6b6b6;
    color: white;
    margin: 0;
    font-family: sans-serif;

}

.card-container{
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 16px;
    justify-content: center;
    width: 90%;
}

.card-container-column{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #a8a8a8;
    padding-bottom: 24px;
}
