body{
    background-color:  #b6b6b6;
    color: white;
    margin: 0;
    font-family: sans-serif;

}

.card-container{
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 16px;
    justify-content: center;
    width: 90%;
    height: fit-content;
}