.card-container-settings{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    height: fit-content;
    font-size: inherit;
    font-family: sans-serif;
    color: #e9e9d2;
    padding: 6px;
    
}

.settings-input{
    width: 250px;
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
}